mixin nav-content()
  ul
    li: a(href="about") About
    li: a(href="contact") Contact
    li: a(href="projects") Projects
    li: a(href="skills") Skills



.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo WWC

    nav.site-nav
      +nav-content()


    a(href="mailto:wwc@gmail.com").email-link +email us

    .mobile-nav-toggle: span
